<%= form_for(arduino) do |f| %>
  <% if arduino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arduino.errors.count, "error") %> prohibited this arduino from being saved:</h2>

      <ul>
      <% arduino.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %>
    <%= f.text_field :uid %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
