<p id="notice"><%= notice %></p>

<h1>Arduinos</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arduinos.each do |arduino| %>
      <tr>
        <td><%= arduino.uid %></td>
        <td><%= link_to 'Show', arduino %></td>
        <td><%= link_to 'Edit', edit_arduino_path(arduino) %></td>
        <td><%= link_to 'Destroy', arduino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arduino', new_arduino_path %>
